.loginBackground {
  position: relative;
  background-image: url('../../images/loginBack-min.jpg') !important;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.loginBackground::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(255,255,255,0.25);
  height: 100%;
  width: 100%;
}
.loginBackground .bord2 {
  z-index: 100;
  position: relative;
  background: linear-gradient(180deg, #D34818 50%, transparent 50%);
}
.login-customer-container {
  width: 100%;
  margin: 1rem auto;
  padding: 5rem 1rem;
  color: #252525;
}
.form-group {
  margin-top: 1.2rem;
}
#form-login {
  padding: 2rem;
  position: relative;

  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px #fcd8b6;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(255,255,255,0.15);
  transition: all .3s ease;
}

.login_form_back {
  position: relative;
  z-index: 1000;
}
#form-login:hover {
  box-shadow: 0px 0px 8px 1px #fbc189;
}
#form-login input {
  background-color: rgba(0,0,0,0.15);
}
#form-login input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
}
.login_form_back label {
  font-size: 1.2rem !important;
}
#form-login .form-footer {
  margin-top: 2rem;
  font-size: .8rem;
  color: #3d3d40;
}
#form-login h2.login-text {
  margin-bottom: 1.5rem;
  margin-top: 0 !important;
}
#form-login .strong {
  color: #f75b1f;
  font-size: .9rem;
}
#form-login input {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #f19f30;
  transition: all .3s ease;
}
#form-login input[type="text"]:focus,
#form-login input[type="password"]:focus {
    border-bottom: 2px solid #F84F0E;
}
a#register-customer {
  color: #f75b1f;
  font-weight: bold;
  transition: all .3s ease;
}
a#register-customer:hover {
  color: #ff4600;
  text-decoration: underline;
  font-size: .9rem;
}
button#btn-login-customer {
  margin-top: 2rem;
}

@media screen and (min-width: 900px) {
  .login-customer-container {
    width: 720px;
  }
}
