{% extends "dabbawala/base_nav_footer.html" %}
{% load static %}

{% block content %}
<input type="checkbox" id="cerrar">
		<label for="cerrar" id="btn-cerrar">X</label>
		<div class="modal">
			<div class="contenido">
        <div class="main">
          <div class="cols">
						  <img id="flecha" src="{% static 'images/flecha.png' %}" alt="ordena_aqui">
            <div class="col">
              <h1>¡Pide tu desayuno desde aquí!</h1>
							<br>
              <h2>Síguenos en nuestras redes sociales</h2>
							<i id="facebook"class="fa fa-facebook-f"></i>
            </div>
          </div>
        </div>
      </div>
		 </div>
    <div>
  <div class="col2">
    <div id="whatsdiv" class="align-self-right whatsapp mt-5">
    <a href="https://api.whatsapp.com/send?phone=525576112053" id="whats_cont" class="rounded-circle"><h2 id="ordena">¡Ordena ya!</h2><img id="whats" src="{% static 'images/whats.png' %}" alt="whats"></a>
    </div>
  </div>
  <section id="banner"  class="main major style2">
    <div class="inner">
      <header class="major">
        <img src="{% static 'images/logo.png' %}" alt="Logo de Dabbawalla">
        <a id="button_register" href="{% url 'users:register' %}"><h1 id="registrate">¡Regístrate Ahora!</h1></a>
        <h2>Y obtén muchos beneficios</h2>
      </header>
			<a href="https://www.facebook.com/dabbawaladesayunosya/"><h4 class="facebook">Dale like a nuestra página de facebook <i id="facebook"class="fa fa-facebook-f"></i></h4></a>
    </div>
  </section>
  <div id="main">
    <img class="bord" src="{% static 'images/image/flechas.png' %}" alt="Borde de flechas">
    <h3>BIENVENIDO A</h3>
    <h1>Dabbawala</h1>
    <div class="first">
      <p>Dabbawala se especializa en desayunos nutritivos y que te llenarán de energía. Nuestro personal cuenta con una vasta experiencia y un gusto exquisito en la preparación de nuestros productos.<br>Utilizamos los mejores insumos y tenemos un gran control de calidad para ofrecerte una experiencia única de desayuno.
      </p>
    </div>
  <div id="" class="index">
    <div class="cols">
      <div class="col1">
        <img src="{% static 'images/image/menu.png' %}" alt="Menu">
      </div>
      <div class="col2">
        <h2>Conoce nuestro</h2>
        <h2>Variado <strong class="menustrong">MENÚ</strong></h2>
        <p><br>Usamos ingredientes locales y frescos en formas imaginativas y creativas para servirte los mejores desayunos de la zona.<br>Te ofrecemos nuestros servicios desde las 5:00 de la mañana hasta las 13:00 horas.<br>Ofrecemos muchas opciones como desayunos veganos, ensaladas y jugos; así como muchas variaciones de nuestro plato estrella el "ROTI".
        </p>
        <a href="{% url 'products:menu'%}" class="button sec"><span>Menú</span></a>
      </div>
    </div>
  </div>
  <div class="cols">
    <div class="col1 nosotros">
      <h2>Misión</h2>
      <p>El desayuno es el alimento más importante del día por eso Dabbawala se compromete a energizar las mañanas de nuestros clientes.</p>
    </div>
    <div class="col2 nosotros">
      <h2>Visión</h2>
      <p>Nuestra meta es para 2020 se la opcion #1 de desayunas en Ciudad Satelite.</p> 
    </div>


  </div>
  </div>
  </div>
{% endblock content %}
