.list-group{
    height: 45rem;
    overflow-y: auto;
}

img{            
    display: block;
    margin:auto;       
    height:100%;        
}

.tab-pane{
    height: 100%;
}

.tab-content{
    height: 100%;
}
