.list-group{
    height: 45rem;
    overflow-y: auto;
}

img{            
    display: block;
    margin:auto;       
    width: 100%;
}

.btn-pres{    
    font-size: 15px;
    max-width: 100px;
    background-color: coral !important;
    border: coral !important; 
}

.tab_img{
    height: 50%;
}


.tab_buttons{
    height: 50%;
}

.tab-pane{
    height: 100%;
}

.tab-content{
    height: 100%;
}
