.tab_list{
    height: 80vh;
    overflow-y: auto;
}

.tab-content{
    height: 80vh;        
}

.tab_view{
    height: 75vh;  
    overflow-y: auto;
}

.sect_img{    
    height: 40vh;            
    display: block;
    margin: auto;
}

.sect_btn{
    height: 35vh;        
}

img{    
    height: 35vh;
    max-width: 100%;    
}

