.cont{
    height: 75vh;
    overflow-y: scroll;
}

.titles{
    background-color: #D44027;    
    color: white;
    text-align: center;
    padding: 10px;    
}

.img{
    display: in-line;    
    height: 50px;
}

.btn-pres{
    cursor: pointer;           
}

