{% extends "base/base_nav_footer.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" type='text/css' href="{% static 'css/products/cartridges.css' %}"> 
{% endblock link %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="list-group" id="list-tab" role="tablist">
        {% for cartridge in cartridges %} {% if cartridge == cartridges|first %}
        <a class="list-group-item list-group-item-action active" id="list-{{cartridge.pk}}-list" data-toggle="list" href="#{{cartridge.pk}}-home"
          role="tab" aria-controls="{{cartridge.pk}}">
          {% else %}
          <a class="list-group-item list-group-item-action" id="list-{{cartridge.pk}}-list" data-toggle="list" href="#{{cartridge.pk}}-home"
            role="tab" aria-controls="{{cartridge.pk}}">
            {% endif %} {{cartridge.name}}
          </a>
          {% endfor %}
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="tab-content" id="nav-tabContent">
        {% for cartridge in cartridges %} {% if cartridge == cartridges|first %}
        <div class="tab-pane fade show active" id="{{cartridge.pk}}-home" role="tabpanel" aria-labelledby="list-{{cartridge.pk}}-list">
          {% else %}
          <div class="tab-pane fade" id="{{cartridge.pk}}-home" role="tabpanel" aria-labelledby="list-{{cartridge.pk}}-list">
            {% endif %}
            <p class="text-center">{{cartridge.name}}</p>
            <div class="img-c row">
              <div class="col-md-12">
                <img src="{{cartridge.image.url}}" alt="No img">
              </div>
            </div>
            <div class="row">
              <a title="Detalles" class="col-4 material-icons text-center" href="{% url 'products:cartridge_detail' cartridge.pk %}">dehaze</a>
              <a title="Modificar" class="col-4 material-icons text-center" href="{% url 'products:cartridge_modify' cartridge.pk %}">create</a>
              <a title="Eliminar" class="col-4 material-icons text-center" href="{% url 'products:cartridge_delete' cartridge.pk %}">delete</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popout">
  <div class="FAB" id="fab-add-cartridge">
    <i class="material-icons">add</i>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
  $(function() {
    $('#fab-add-cartridge').click(function(event) {
      location.href = '/cartridges/new/';
    });
  });
</script>
{% endblock javascript %}