.table {
  .material-icons {
    cursor: pointer;
    font-size: 2rem;
  }
  &-row-date {
    width: 20rem;
  }
  &-row-actions {
    width: 10rem;
  }
}

.sales-actions {
  &:hover {
    opacity: 1;
  }
  transition: all .3s ease;
  opacity: 0.8;
  padding: {
    left: .5rem;
    right: .5rem;
  }
}
.modal-ticket {
  width: 720px;
}

.iframe-ticket {
  width: 100%;
  height: 640px;
}