{% extends "dabbawala/base_nav_footer.html" %}
{% load static %}

{% block content %}
<div id="main">
  <img class="bord2" src="{% static 'images/image/reverse.png' %}" alt="Borde">
  <h2>contacto</h2>
  <h1>Dabbawala</h1>
  <div class="first">
    <p>En Dabbawala, es muy importante saber la opinión, y estar en contacto con nuestros clientes.<br>Ponemos a tu disposición un formulario para que nos envíes tus dudas o sugerencias; así como nuestros teléfonos y dirección donde nos encontraras todas las mañanas.</p>
    </div>
  </div>
  <div id="main1">
    <img class="arr" src="{% static 'images/image/arrow.png'%}" alt="Borde de flechas">
    <div class="form">
      <div class="cols">
        <div class="col1">
          <h4>¿TIENES ALGUNA DUDA O SUGERENCIA?</h4>
          <p class="cont">Por favor envianos tus dudas y nos pondremos en contacto a la brevedad.</p>
          <input type="text" name="name" id="name" placeholder="Nombre de usuario" />
          <input type="text" name="email" id="email" placeholder="Correo" />
          <textarea name="message" placeholder="Mensaje" id="message"></textarea>
          <input type="submit" name="submit" value="ENVIAR" />
        </div>
        <div class="col2 contactcol">
          <h4>contacto</h4>
          <p class="cont">Visítanos o contáctanos</p>
          <ul class="icons con">
            <li><a class="icon alt fa-map-marker"><span class="label"> Calle Hidalgo #78, San Lucas Tepetlacalco.</span></a></li>
            <li><a><span class="label">54055 Tlalnepantla, Méx</span></a></li>
            <li><a class="icon alt fa-phone"><span class="label">55 8107 4807</span></a></li>
            <!--<li><a class="icon alt fa-envelope"><span class="label"> dabba@dabba.com</span></a></li>-->
          </ul>
          <h4>Síguenos</h4>
          <ul class="icons">
            <li><a rel="nofollow" target="_blank" href="" class="icon alt fa-facebook"><span class="label"></span></a></li>
            <li><a rel="nofollow" target="_blank" href="" class="icon alt fa-google-plus"><span class="label"></span></a></li>
          </ul>
        </div>
      </div> 
    </div>
  </div>
  <div id="main2">
    <div class="form">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.494136671963!2d-99.23373288571676!3d19.52038804292734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d202d503a7291f%3A0x87b7ba55677a8a45!2sCalle+Hidalgo+78%2C+San+Lucas+Tepetlacalco%2C+54055+Tlalnepantla%2C+M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1498071184306" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock content %}