{% extends "dabbawala/base_nav_footer.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/orders/pay.css' %}">
{% endblock stylesheets %}

{% block content %}
<div id="main">
  <img class="bord2" src="{% static 'images/image/reverse.png' %}" alt="Borde">
  <h2 class="pay-title">pago</h2>
  <div class="container-pay">
    {# {{ request.session.cart }}#}
    <table id="pay">
      <thead>
        <tr>
          <th>CANTIDAD</th>
          <th>ORDEN</th>
          <th>PRECIO</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        {% for key, cartridge in request.session.cart.cartridges.items %}
        <tr>
          <td>{{ cartridge.quantity }}</td>
          <td>{{ cartridge.name }}</td>
          <td>$ {{ cartridge.cost }}</td>
          <td>
            <span class="total-item-sign">$</span>
            <span class="total-item-cart">{{ cartridge.total }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td id="td-total-cart">
            <span class="total-cart-sign">$</span>
            <span id="total-cart"></span>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="container-pay-footer">
      <button id="btn-cancel-pay">
        <span class="btn-text" >Cancelar pedido</span>
      </button>
      {% if request.user.is_authenticated %}
      <button id="btn-login-pay" class="show-overlay" data-type="zoomin">
        <span class="btn-text show-overlay" data-type="zoomin">Login y Ordenar</span>
      </button>
      {% else %}
      <button id="btn-login-pay" class="show-overlay" data-type="zoomin">
        <span class="btn-text">Login y Ordenar</span>
      </button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function($) {
        let totalItems = $('.total-item-cart');
        let total = 0;
        totalItems.each(function(index, item) {
            total += parseFloat(item.innerHTML);
        });
        $('#total-cart').text(total);
    });
  </script>
{% endblock %}
