<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'users:login' %}"><h3>{{ page_title }}</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item dropdown" id="link-sales">
          <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ventas</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="{% url 'sales:sales_new' %}">POS</a>
            <a class="dropdown-item" href="{% url 'sales:sales' %}">Analytics</a>
          </div>
        </li>
        <li class="nav-item dropdown" id="link-kitchen">
          <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cocina</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="{% url 'kitchen:kitchen' 'caliente' %}">Cocina Caliente</a>
            <a class="dropdown-item" href="{% url 'kitchen:kitchen' 'fria' %}">Cocina Fría</a>
            <a class="dropdown-item" href="{% url 'kitchen:assembly' %}">Ensamble</a>
          </div>
        </li>
        <li class="nav-item dropdown" id="link-warehouse">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Almacen</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="{% url 'products:supplies' %}">Insumos</a>
            <a class="dropdown-item" href="{% url 'products:cartridges' %}">Productos</a>
            <a class="dropdown-item" href="{% url 'products:warehouse' %}">Almacen</a>
            <a class="dropdown-item" href="{% url 'products:new_shoplist' %}">Lista de Compras</a>
          </div>
        </li>
        <li class="nav-item dropdown" id="link-diners">
          <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comedor</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="{% url 'diners:diners' %}">Accesos de hoy</a>
            <a class="dropdown-item" href="{% url 'diners:diners_logs' %}">Historial de Accesos</a>
          </div>
        </li>
        <li class="nav-item dropdown" id="link-diners">
          <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Satisfacción</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="{% url 'diners:satisfaction_rating' %}">Calificador</a>
            <a class="dropdown-item" href="{% url 'diners:analytics' %}">Analytics</a>
            <a class="dropdown-item" href="{% url 'diners:suggestions' %}">Comentarios</a>
          </div>
        </li>
        <li class="nav-item dropdown" id="link-panel">
          <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            {% if user.is_superuser %}
              <a class="dropdown-item" href="{% url 'admin:login' %}">Panel de Control</a>
            {% endif %}
            <a class="dropdown-item" href="#">Configuración</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
