{% extends 'base/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
  {% render_bundle 'app' 'css' 'CSS' %}
{% endblock %}

{% block page_title %}
  {{ page_title }}
{% endblock %}

{% block header %}
  {% include 'base/nav.html' %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="d-flex flex-row mt-2">
      <form class="form-row col-auto" id="dates-range-form">
        <div class="form-group mr-1">
          <label for="dt-year" hidden></label>
          <select class="custom-select" id="dt-year"></select>
        </div>
        <div class="form-group">
          <select class="custom-select" id="dt-week"  title="dt-week"></select>
        </div>
      </form>
      <div class="col d-flex justify-content-center">
        <p>Ventas semana <span id="week-number">{{ week_number }}</span>:
          <span class="font-weight-bold">$</span>
          <span id="total-earnings-text" class="font-weight-bold"></span>
        </p>
      </div>
      <div class="col d-flex justify-content-center">
        <p>Semana Actual: <span class="font-weight-bold">{{ week_number }}</span></p>
      </div>
      <div class="col-auto">
        <a id="save-reports" href="{% url 'sales:sales_report' %}" class="btn btn-outline-primary" download>
          <span class="d-flex align-items-center"><i class="material-icons">file_download</i>Generar Reporte</span>
        </a>
      </div>
    </div>
    <div class="row" id="sales-graphics">
      <div class="col-xs-12 col-lg-6">
        <div class="canvas-holder">
          <canvas id="canvas-week-sales"></canvas>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="canvas-holder">
          <canvas id="canvas-day-sales"></canvas>
        </div>
      </div>
    </div>
    <div class="row mt-3" id="sales-details">
      <div class="col">
        <div class="card card-scroll-x">
          <table id="sales-details-table" class="table table-hover">
            <thead class="thead-light">
            <tr>
              <th>Id</th>
              <th>Orden</th>
              <th class="header-date">Fecha</th>
              <th class="header-products">Productos</th>
              <th class="header-packages">Paquetes</th>
              <th>Vendedor</th>
              <th>Total</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
              <tr>
                <th class="header-id">{{ ticket.id }}</th>
                <th>{{ ticket.order_number }}</th>
                <td class="header-date">{{ ticket.created_at }}</td>
                <td class="header-products">
                  {% for cartridge in ticket.cartridges %}
                    <span class="badge badge-success">
                  <span class="badge badge-info" >{{ cartridge.quantity }}</span>
                  <span class="badge badge-success ">{{ cartridge.name }}</span>
                </span>
                  {% endfor %}
                </td>
                <td class="header-packages">
                  {% for package in ticket.packages %}
                    <span class="badge badge-primary">
                  <span class="badge badge-info">{{ package.quantity}}</span>
                  <span class="badge badge-primary">{{ package.name }}</span>
                </span>
                  {% endfor %}
                </td>
                <td>{{ ticket.cashier }}</td>
                <td class="td-total">
                  {{ ticket.total }}
                </td>
                <td class="header-actions">
                  <span class="sales-actions delete-ticket"><i class="material-icons text-muted">delete</i></span>
                  <span class="sales-actions print-ticket"><i class="material-icons text-primary">local_printshop</i></span>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Ticket Modal -->
  <div class="modal fade" id="modal-ticket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="myModalLabel">Imprimir</h5>
        </div>
        <div class="modal-body">
          <div class="printer-container">
            <div id="printer">
              <figure class="content-img">
                <img src="{% static 'images/dabbawala_black.jpg' %}" alt="logo">
              </figure>
              <div class="ticket-order-container text-xs-center">
                <span>ORDEN</span>
                <span id="ticket-order"></span>
              </div>
              <div class="ticket-address">
                <p class="text-xs-center">
                  Calle Hidalgo #78, San Lucas Tepetlaco. 54055 Tlalnepantla, Méx
                </p>
              </div>
              <div class="container ticket-datetime-container">
                <div class="row">
                  <div class="col-xs-6 ticket-datetime">
                    <span id="ticket-time"></span>
                  </div>
                  <div class="col-xs-6 ticket-datetime">
                    <span id="ticket-date"></span>
                  </div>
                </div>
              </div>
              <ul class="list-group list-group-flush" id="sales-list-modal">
              </ul>
              <div class="ticket-id-container">
                <span>ID: </span><span id="ticket-id"></span>
              </div>
              <div class="ticket-contact">
                <p class="text-xs-center">
                  <span>Whatsapp: 55 8107 4807</span>
                </p>
                <p class="text-xs-center mt-1">
                  <strong>¡GRACIAS POR SONREIR! <span class="smile">😊</span></strong> <br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-printer">Imprimir</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {% render_bundle 'app' 'js' 'JS'%}
{% endblock javascript %}
