 {% extends "base/base_nav_footer.html" %} {% load static %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/kitchen/warehouse.css' %}"> {% endblock link %} {% block content %}

<div class="container-fluid ">
    <div class="row">               
        <div class="col-md-6">
            <p class="titles">Almacen</p>
            <div class="col-md-12 cont">                
                <div id="accordion">
                    {% for supp in supps %}
                    <div class="card">
                        <div class="card-header" id="heading-{{supp}}" data-toggle="collapse" data-target="#collapse-{{supp}}" aria-expanded="false" aria-controls="collapse-{{supp}}">
                            <h5 class="mb-0"></h5>                                
                                <img class="img" src="{{supp.image.url}}">
                                {{supp}}                                                                                                    
                            </h5>
                        </div>
                        <div id="collapse-{{supp}}" class="collapse" aria-labelledby="heading-{{supp}}" data-parent="#accordion">
                            <div class="card-body">                
                                {% for presentation in presentations %}                                     
                                    <ul class="list-group">
                                        {% if presentation.supply == supp and presentation.on_warehouse > 0 %}
                                        <div class="btn-pres">
                                            <div class="pres" id="{{presentation.pk}}&{{presentation}}&{{presentation.on_warehouse}}">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">                                                     
                                                    {{presentation.getUnit.mq}} {{presentation.getUnit.mu}}
                                                    <span class="badge badge-primary badge-pill">{{ presentation.on_warehouse }}</span>
                                                </li>                                                
                                            </div>
                                        </div>
                                    </ul>
                                        {% else %}                                            
                                            {% if forloop.last %}
                                                <div style="text-align:center">
                                                    <h5>No hay presentaciones</h5>
                                                </div>
                                            {% endif %}                                                
                                        {% endif %}                                 
                                {% endfor %}    
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p class="titles">Ensamblaje</p>
            <div class="cont">
                <div id="b-accordion">
                    {% for supp in supps %}
                    <div class="card">
                        <div class="card-header" id="b-heading-{{supp}}" data-toggle="collapse" data-target="#b-collapse-{{supp}}" aria-expanded="false"
                            aria-controls="b-collapse-{{supp}}">
                            <h5 class="mb-0"></h5>
                            <img class="img" src="{{supp.image.url}}"> {{supp}}
                            </h5>
                        </div>
                        <div id="b-collapse-{{supp}}" class="collapse" aria-labelledby="b-heading-{{supp}}" data-parent="#b-accordion">
                            <div class="card-body">
                                {% for presentation in presentations %}
                                <ul class="list-group">
                                    {% if presentation.supply == supp and presentation.on_assembly > 0 %}
                                    <div class="btn-pres">
                                        <div class="pres" id="{{presentation.pk}}&{{presentation}}&{{presentation.on_assembly}}">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {{presentation.getUnit.mq}} {{presentation.getUnit.mu}}
                                                <span class="badge badge-primary badge-pill">{{ presentation.on_assembly }}</span>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                                {% else %} {% if forloop.last %}
                                <div style="text-align:center">
                                    <h5>No hay presentaciones</h5>
                                </div>
                                {% endif %} {% endif %} {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock content %} {% block javascript %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        function get_cookie(name) {
            let cookie_value = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookie_value = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookie_value;/**/
        }

        $(".btn-pres").on("click", function () {
            let csrf_token = get_cookie('csrftoken');
            var presentation = $(this).children(".pres").attr('id');            
            var arr = presentation.split('&');
            var presentation_pk = arr[0];
            var presentation_name = arr[1];
            var quantity_available = arr[2];            
            
            var step = 1;

            swal({
                title: '¿Cuantos ' + presentation_name + ' desea mover? ',
                input: 'range',
                inputAttributes: {
                    min: 1,
                    max: quantity_available,
                    step: step
                },
                inputValue: step,
                showCancelButton: true,
                confirmButtonText: 'Submit',
                showLoaderOnConfirm: true,
                preConfirm: function (number) {
                    return new Promise(function (resolve, reject) {
                        $.ajax({
                            url: '{% url "products:warehouse" %}',
                            type: 'POST',
                            data: {
                                'type': 'save_to_assembly',
                                'quantity': number,
                                'presentation_pk': presentation_pk,
                                csrfmiddlewaretoken: csrf_token,
                            },
                            datatype: "jsonp",
                            success: function (result) {
                                swal("Agregado " + number + " de " + warehouse_name + " al almacen");
                                setTimeout(null, 5000);
                                location.reload()
                            }
                        });
                    })
                },
                allowOutsideClick: false
            })


        })

    });
</script> {% endblock javascript %}