{% extends "dabbawala/base_nav_footer.html" %}
{% load static %}

{% block content %}
<div class="menu">
  <div id="main"> 
    <img class="bord2" src="{% static 'images/image/reverse.png' %}" alt="Borde">
    <h2>MENÚ</h2>
    <h1>Dabbawalla</h1>
    <div class="first">
      <p>Usamos ingredientes locales y frescos en formas imaginativas y creativas para servirte los mejores desayunos de la zona.<br>Ofrecemos muchas opciones como desayunos veganos, ensaladas y jugos; así como muchas variaciones de nuestro plato estrella el "ROTI".</p>
      </div>
    </div>
    <div id="main1">
      <img class="arr" src="{% static 'images/image/arrow.png' %}" alt="Borde">
      <div id="carta" class="cols">
        <div class="col1">
          <img src="{% static 'images/image/roti.png' %}" alt="Rotis">
        </div>
        <div class="col2">
          {% for product in products %}
            {% if product.subcategory == 'RO' %}
              <p class="product-name">{{ product.name }}<span class="price">{{ product.price }}</span></p>
              <p class="ref description">{{ product.description }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div> 
    </div>
    <div id="main2">
      <div id="carta" class="cols">
        <div class="col2">
          {% for product in products %}
            {% if product.subcategory == 'FR' %}
              <p class="product-name">{{ product.name }}<span class="price">{{ product.price }}</span></p>
              <p class="ref description">{{ product.description }}</p>
            {% endif %}
          {% endfor %}
          {% for product in products %}
            {% if product.subcategory == 'SA' %}
              <p class="product-name">{{ product.name }}<span class="price">{{ product.price }}</span></p>
              <p class="ref description">{{ product.description }}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col1">
          <img src="{% static 'images/image/fruta.png' %}" alt="Fruta">
        </div>
      </div>
    </div>
    <div id="main3">
      <div id="carta" class="cols">
        <div class="col1">
          <img src="{% static 'images/image/drink.png' %}" alt="Bebida">
        </div>
        <div class="col2">
          {% for product in products %}
            {% if product.subcategory == 'JU' %}
              <p class="product-name">{{ product.name }}<span class="price">{{ product.price }}</span></p>
              <p class="ref description">{{ product.description }}</p>
            {% endif %}
          {% endfor %}
          {% for product in products %}
            {% if product.subcategory == 'SM' %}
              <p class="product-name">{{ product.name }}<span class="price">{{ product.price }}</span></p>
              <p class="ref description">{{ product.description }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="main4">
      <div id="carta" class="cols">
        <div class="col2">
          <p>PAQUETE ...<span class="price">$50</span></p>
          <p class="ref">Incluye un Roti y dos vasos a elegir (fruta y/ó bebida).</p>
        </div>
        <div class="col1">
          <img src="{% static 'images/image/paq.png' %}" alt="Paquetes">
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}