/** Cube properties */
#options {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sales-main {
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
  justify-content: space-around !important;
}

#thecube {
  max-width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  width: 700px;
  min-width: 360px;
  -webkit-text-size-adjust: none;
  color: #151515;
  margin-bottom: 1rem;
  padding-top: 50px;
  padding-bottom: 1em;
}
#thecube #show-buttons {
  margin: 1rem 0;
}
/** Sales properties */
#cart-container {
  border-radius: 3px;
  margin-bottom: 2rem;
  width: 95% !important;
}
#cart-container > h3 {
  letter-spacing: 2px;
}
#cart-container .order-total {
  margin-top: 0;
  font-size: 1.8rem;
}
#cart-container .order-title {
  margin-top: 1rem;
  font-size: 1.8rem;
  margin-top: 2rem;
}
#cart-container .card-float {
  background: rgb(250,243,237);
  border: 1px #5bc0d3 solid;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 1px rgba(0,0,0, 0.2);
  width: 95%;
  margin: 0 auto;
  transition: all 0.3s ;
}
#cart-container .card-float:hover {
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.4);
}

#cart-body {
  min-height: 280px;
}
#cart-header .total-container {
  display: flex;
  font-size: 3.2rem;
  justify-content: center;
  margin: .5rem .2rem;
  text-align: center;
}
#cart-header .total-container #s-total-price {
  margin: 0 0.5rem;
}
#cart-header .total-container #total-price {
  display: flex;
  font-size: 3.2rem;
}
#cart-header .total-container .point-total-price {
  display: none;
}
#cart-header .total-container .text-price-decimal {
  font-size: 1.5rem;
  text-align: top;
}

ul#sales-list {
  color: #F84F0E;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
}

ul#sales-list li,
ul#sales-list ul {
  list-style: none;
  padding: 0 ;
  margin: 0;
  display: flex;
  font-weight: 600;
}

ul#sales-list > li {
  flex-direction: column;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
ul#sales-list > li > span.separator-title {
  letter-spacing: 1px;
}
ul#sales-list li.prod-list-head {
  color: #151515;
  text-transform: uppercase;
  border-bottom: 2px rgba(248,79,14,0.5) solid;
}
ul#sales-list li ul {
  flex-direction: column;
}
ul#sales-list li.list-item {
  font-size: 0.8rem;
  align-items: center;
  letter-spacing: 1px;
}
ul#sales-list li.list-item:not(:first-child){
  border-bottom: 1px rgba(248,79,14,0.3) solid;
  height: 1.7rem;
  vertical-align: center;
}
ul#sales-list li.list-item:not(.prod-list-head) {
  color: #353535;
  text-align: left;
  font-weight: 400;
}
ul#sales-list li span {
  padding: 0 .2rem;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
ul#sales-list li.list-item span.prod-name {
  width: 55%;
}
ul#sales-list li.list-item span.prod-unit {
  width: 20%;
}
ul#sales-list li.list-item span.prod-quantity {
  width: 10%;
}
ul#sales-list li.list-item span.prod-total {
  width: 20%;
}
.orde {
  font-family: 'Conv_Futura', Sans-Serif;
  border-radius: 15px !important;
  font-size: 17px;
  height: 60px;
  letter-spacing: 5px;
  line-height: 60px;
  text-transform: uppercase;
}.orde.cancel {
  margin-top: 20px;
  background-color: #F44336 !important;
}
.orde.set {
  background-color: #4CAF50 !important;
}
.orde.cancel:active {
  margin-top: 20px;
  background-color: #C62828 !important;
}
.orde.set:active {
  background-color: #388E3C !important;
}
.orde.cancel:hover {
  background-color: #FF8A80 !important;
  color: #fff !important;
}
.orde.set:hover {
  background-color: #00E676 !important;
}

.sales-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
}

@media screen {
  .container-cube {
    width: 100%;
    height: 480px;
    display: block;
    margin: 0 auto;
    z-index: 1 !important;
    padding: 0;
    border: 1px #5bc0d3 solid;
    border-radius: 5px;
  }

  #cube {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
  }

  #cube figure {
    font-size: 1.3rem;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: scroll;
    margin: 0;
  }
  #cube figure .product-name {
    font-size: 1rem;
    line-height: 0.9rem;
    padding-bottom: 0.5rem;
  }
  #cube figure .description {
    font-size: 0.9rem;
    line-height: 0.9rem;

  }

  #cube .front  { background: rgba(250,243,237,0.6); }
  #cube .back   { background: rgba(250,243,237,0.6); }
  #cube .right  { background: rgba(250,243,237,0.6); }
  #cube .left   { background: rgba(250,243,237,0.6); }
  #cube .top    { background: rgba(250,243,237,0.6); }
  #cube .bottom { background: rgba(250,243,237,0.6); }

  #cube .front  {
    -webkit-transform: translateZ( 300px );
    -moz-transform: translateZ( 300px );
    -o-transform: translateZ( 300px );
    transform: translateZ( 300px );
  }
  #cube .back   {
    -webkit-transform: rotateX( -180deg ) translateZ( 300px );
    -moz-transform: rotateX( -180deg ) translateZ( 300px );
    -o-transform: rotateX( -180deg ) translateZ( 300px );
    transform: rotateX( -180deg ) translateZ( 300px );
  }
  #cube .right {
    -webkit-transform: rotateY(   90deg ) translateZ( 300px );
    -moz-transform: rotateY(   90deg ) translateZ( 300px );
    -o-transform: rotateY(   90deg ) translateZ( 300px );
    transform: rotateY(   90deg ) translateZ( 300px );
  }
  #cube .left {
    -webkit-transform: rotateY(  -90deg ) translateZ( 300px );
    -moz-transform: rotateY(  -90deg ) translateZ( 300px );
    -o-transform: rotateY(  -90deg ) translateZ( 300px );
    transform: rotateY(  -90deg ) translateZ( 300px );
  }
  #cube .top {
    -webkit-transform: rotateX(   90deg ) translateZ( 300px );
    -moz-transform: rotateX(   90deg ) translateZ( 300px );
    -o-transform: rotateX(   90deg ) translateZ( 300px );
    transform: rotateX(   90deg ) translateZ( 300px );
  }
  #cube .bottom {
    -webkit-transform: rotateX(  -90deg ) translateZ( 300px );
    -moz-transform: rotateX(  -90deg ) translateZ( 300px );
    -o-transform: rotateX(  -90deg ) translateZ( 300px );
    transform: rotateX(  -90deg ) translateZ( 300px );
  }

  #cube.show-front {
    -webkit-transform: translateZ( -100px );
    -moz-transform: translateZ( -100px );
    -o-transform: translateZ( -100px );
    transform: translateZ( -100px );
  }
  #cube.show-back {
    -webkit-transform: translateZ( -100px ) rotateX( -180deg );
    -moz-transform: translateZ( -100px ) rotateX( -180deg );
    -o-transform: translateZ( -100px ) rotateX( -180deg );
    transform: translateZ( -100px ) rotateX( -180deg );
  }
  #cube.show-right {
    -webkit-transform: translateZ( -100px ) rotateY(  -90deg );
    -moz-transform: translateZ( -100px ) rotateY(  -90deg );
    -o-transform: translateZ( -100px ) rotateY(  -90deg );
    transform: translateZ( -100px ) rotateY(  -90deg );
  }
  #cube.show-left {
    -webkit-transform: translateZ( -100px ) rotateY(   90deg );
    -moz-transform: translateZ( -100px ) rotateY(   90deg );
    -o-transform: translateZ( -100px ) rotateY(   90deg );
    transform: translateZ( -100px ) rotateY(   90deg );
  }
  #cube.show-top {
    -webkit-transform: translateZ( -100px ) rotateX(  -90deg );
    -moz-transform: translateZ( -100px ) rotateX(  -90deg );
    -o-transform: translateZ( -100px ) rotateX(  -90deg );
    transform: translateZ( -100px ) rotateX(  -90deg );
  }
  #cube.show-bottom {
    -webkit-transform: translateZ( -100px ) rotateX(   90deg );
    -moz-transform: translateZ( -100px ) rotateX(   90deg );
    -o-transform: translateZ( -100px ) rotateX(   90deg );
    transform: translateZ( -100px ) rotateX(   90deg );
  }

  .panels-backface-invisible{
    visibility: hidden;
  }
}

@media screen and (min-width: 900px) {
  #thecube {
    width: 50%;
  }
  .container-cube {
    /*width: 90%;*/
    height: 480px;
    display: block;
    margin: 0 auto;
    z-index: 1 !important;
  }

  #cart-container {
    max-width: 45% ;
  }
}

@media screen and (min-width: 1240px) {
  #thecube {
    width: 60%;
  }

  #cart-container {
    max-width: 35% ;
  }
}