{% extends "base/base_nav_footer.html" %} 
{% load static  %}
{% block link %}
<link rel="stylesheet" type='text/css' href="{% static 'css/products/supplies.css' %}"> 
{% endblock link %}
{% block content %}
<div class="container-fluid">
  <div class="row ">
    {% for sp in supplies %}    
    <div class="card-r col-4 col-sm-5 col-md-3 col-xl-1">       
      <div class="row">
        <div class="col-12">
          <h6 class="text-center card-title">{{ sp.name }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-10">        
          <img class="card-img-top" src="{{ sp.image.url }}" alt="Card image cap">            
        </div>
        <div class="col-2 details">
          <a title="Detalles" class="icons material-icons" href="{% url 'products:supply_detail' sp.pk %}">dehaze</a>
          <a title="Modificar" class="icons material-icons" href="{% url 'products:supply_modify' sp.pk %}">create</a>
          <a title="Eliminar" class="icons material-icons" href="{% url 'products:supply_delete' sp.pk %}">delete</a>
        </div>
      </div>      
    </div>
    {% endfor %}
  </div>
</div>
<div class="popout">
  <div class="FAB" id="fab-add-supply">
    <i class="material-icons">add</i>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
  $(function() {
    $('#fab-add-supply').click(function(event) {
      location.href = '/supplies/new/';
    });
  });
</script>
{% endblock javascript %}