{% extends "base/base_nav_footer.html" %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div>
            <h1>{{ supply.name }}</h1>
          </div>
        </div>
        <p>
          <strong>Categoria:</strong> {{ supply.category }}</p>
        <p>
          <strong>Codigo de barras:</strong> {{ supply.barcode }}</p>
        <img class="materialboxed" width="500" src="{{ supply.image.url | default_if_none:'#'}}">    
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <h1>Presentaciones</h1>
        {% for presentation in presentations %}
          <div class="row">
            <p class="col-md-8" >{{presentation}}</p>
            <a title="Modificar" class="offset-md-2 col-md-1 material-icons" href="{% url 'products:update_presentation' supply.pk presentation.pk %}">create</a>
            <a title="Eliminar" class="col-md-1 material-icons" href="{% url 'products:delete_presentation' supply.pk presentation.pk %}">delete</a>                              
          </div>
        {% endfor %}
        <a title="Agregar" class="btn btn-primary" href="{% url 'products:new_presentation' supply.pk %}">Agregar</a>      
      </div>
    </div>  
  </div>
</div>

{% endblock content %}
{% block javascript %}

  
{% endblock javascript %}