// Add your base styles here
body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  min-height: 100vh; 
}

main {
  flex: 1; 
}

@import "auth/login";
// // @import "customers/register";
// // @import "diners/your-opinion";
// // @import "kitchen/kitchen";
// // @import "kitchen/shoplist";
// // @import "kitchen/warehouse";
// // @import "orders/cube";
// // @import "orders/pay";

