.list-group{
    height: 45rem;
    overflow-y: auto;
}

.tab-content{
    height: 45rem;
    overflow: hidden;
}

a.material-icons{
    font-size: 50px;
}

.img-c{        
    overflow: hidden;    
    height: 38rem;    
}

img{    
    display: block;
    margin:auto;  
    border-radius: 40px;     
    margin-top: 90px;
    height:400px;  
    max-width: 100%;      
}



