.list-group{
    height: 80vh;
    overflow-y: auto;
}

.tab-content{    
    overflow: hidden;
}

a.material-icons{
    font-size: 50px;
}

.img-c{                
    overflow: hidden;    
    display: block;
}

.car_img{    
    margin-top: 80px;
    width: 100%;
    max-height: 500px;
    border-radius: 80px;
}







