.list-group{
    height: 80vh;
    overflow-y: auto;
}

.tab-content{
    height: 80vh;
    overflow: hidden;
}

a.material-icons{
    font-size: 50px;
}

.img-c{        
    overflow: hidden;            
}

img{    
    display: block;
    margin:auto;  
    border-radius: 40px;    
    width: 80%;    
}



