.list-group{
    height: 45rem;
    overflow-y: auto;
}

.tab-content{
    height: 45rem;
    overflow-y: auto;
}

a.material-icons{
    font-size: 50px;
}

img{
    display:block;
    margin:auto;
}



